.btn-body{
    width: 75px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:15px auto;
    padding-top: 8px;
}
.btn-body icon{
    width: 24px;
    height: 24px;
}
.btn-body p{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: rgb(224, 229, 233);
    transition: all 0.5s ease;
    background-color: rgba(245, 242, 235, 0);
}
.btn-body.active{
    background-color: rgba(245, 242, 235, 0.4);
    color: #fff;
    border-radius: 20px;
    transform: scale(1.05);
}
.btn-body:hover{
    color: #fff;
}