.playlist-body{
    width: 94%;
    height: 100%;
    padding: 3%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    overflow-y: auto;
    margin: auto;    
}
.playlist-card{
  position: relative;
  width: 21.3%;
  height: 45%;
  border-radius: 20px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgba(54, 69, 98, 0.18);
  padding: 1%;
  margin-bottom: 2%;
  background: rgb(30, 42, 62);
  background: linear-gradient(
    75deg,
    rgb(40, 58, 88) 0%,
    rgba(54, 69, 98, 0) 100%
  );
  transition: all 0.2s ease;
  cursor: pointer;
}

.playlist-card:hover {
  transform: scale(1.02);
}

.playlist-card:hover .playlist-fade {
  opacity: 1;
}
.playlist-image{
    width: 100%;
    aspect-ratio: 1;
    height: 70%;
}
.sub-title{
    color: rgb(254, 253, 253);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.total-text{
    color:#727985;
    font-size: 16px;
    font-weight: 600;
}
.playlist-fade {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 84%;
  height: 34%;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(54, 69, 98, 0) 10%,
    rgba(54, 69, 98, 1) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8%;
  transition: 0.5s ease;
}

